

#blur {
    /*position: fixed; !* Fixed positioning for the background *!*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: -1; !* Place it behind other content *!*/
    /*content: "";*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*position: absolute;*!*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 0;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/

}

/* Style the background image */
#blur img {
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover; !* Ensure the image covers the entire container *!*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: -1; !* Place it behind other content *!*/
}

/*#blur::before {*/
/*    content: "";*/
/*    !*width: 100%;*!*/
/*    !*height: 100%;*!*/
/*    !*position: absolute;*!*/
/*    !*top: 0;*!*/
/*    !*left: 0;*!*/
/*    !*z-index: 0;*!*/
/*    !*background-color: rgba(0, 0, 0, 0.5);*!*/
/*    background-color: rgba(0, 0, 0, 0.35);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vh;*/
/*    height: vh;*/

/*}*/

.message h1{
    padding-top: 35vh;
}

#description-txt{
    font-family: 'Dancing Script', cursive;
    font-size: 3.3rem;

}

/* Add media queries for responsiveness */
@media (max-width: 880px) {
    #description-txt {
        font-size: 2.5rem; /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 480px) {
    #description-txt {
        font-size: 1.8rem; /* Adjust the font size for even smaller screens */
    }
}

#romania{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
}

#searchDiv {
    padding: 2em; /* Add padding to the top and bottom */
    text-align: center; /* Center the contents */
    font-size: 14px;
    width: 30%;
}

/* Use media queries for responsiveness */
@media (max-width: 768px) {
    #searchDiv {
        width: 100%; /* Make the input full-width on smaller screens */
        padding: 1em; /* Reduce padding for smaller screens */
    }
}

#home-search-btn{
    position: absolute;
    width: 150px;
    /*height: 10px;*/
    margin-top: 0.5em;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*#home-elements{*/
/*    background-color: aqua;*/
/*    height: 90px;*/
/*    margin-left: 20em;*/
/*    margin-right: 20em;*/
/*}*/


#input-and-drop{
    padding-top: 0.5em;
    padding-right: 31em;
    padding-left: 30em;
}

@media (max-width: 1400px){
    #input-and-drop{
        padding-right: 21em;
        padding-left: 20em;
    }
}

@media (max-width: 1000px){
    #input-and-drop{
        padding-right: 11em;
        padding-left: 10em;
    }
}

@media (max-width: 600px){
    #input-and-drop{
        padding-right: 4em;
        padding-left: 3em;
    }
    #home-search-btn{
        width: 100px;
        font-size: 10px;
        height: 25px;
    }
}

@media (max-width: 400px){
    #input-and-drop{
        padding-right: 1em;
        padding-left: 0.5em;
    }
}












